@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tanga City Council Offices<br />
    Tanga, Tanzania<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@tcc.go.tz</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@tcc.go.tz</a>
</address>